@using SportsStore.WebUI.Models
@model ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@*@foreach (var prod in Model.Products)
{
    <div class="well">
        <h3>
            <strong>@prod.Name</strong>
            <span class="pull-right label label-primary">@prod.Price.ToString("c")</span>
        </h3>
        <span class="lead"> @prod.Description</span>
    </div>
}*@

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

<div class="btn-group pull-right">
    @*@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))*@
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>